html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
}

.solicitacoes-container {
    max-width: 950px;
    margin: 40px auto;
    padding: 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.solicitacoes-titulo {
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;
    font-weight: 600;
    color: #000000;
}

.lista-defesas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-defesa {
    background: #ffffff;
    border: 1px solid #d9d9d9;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.card-defesa:hover {
    border-color: #0fa394;
    box-shadow: 0 0 0 3px rgba(15,163,148,0.20);
}

.card-titulo {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.card-info {
    margin: 7px 0;
    color: #000000;
    font-size: 15px;
}

.card-botoes {
    display: flex;
    gap: 12px;
    margin-top: 15px;
}

.botao {
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s ease;
}

.botao.recusar {
    background: #d9d9d9;
    color: #000000;
}

.botao.recusar:hover {
    background: #bfbfbf;
}

.botao.aceitar {
    background: #0fa394;
    color: #ffffff;
}

.botao.aceitar:hover {
    background: #17c7b5;
}
