.defesas {
  height: 80vh; 
  overflow-y: auto; 
  padding: 20px 0rem;
  background-color: #f5f5f5; 
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; 

}

.card {
  display: flex;
  background-color: #fff;
  align-items: center;
  border-radius: 10px;
  padding: 2rem 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  gap: 3rem;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.card h3 {
  margin: 0 0 0.5rem 0;
}

.dia{
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
}

.container-data{
  background-color: #e0e0e08e;
  padding: 1rem;
  border-radius: 7px;
}

.container-info {
  flex-direction: column;
  display: flex;
}