*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: rgb(35, 90, 141);
}

.header--container{
    color: black;
}

.links--container{
    display: flex;
    gap: 20px;
}

.link{
    display: flex;
    font-weight: 700;
    color:black;
}
